html {
  font-size: 1.5rem;
}

body {
  background-color: #89167F;
}

h1 {
  color: tomato;
}

h1:hover {
  background-color: linear-gradient(red, blue, green, yellow);
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

.card {
  background-color: #F1AF35;
  border-radius: 30px;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  transition: 1s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  transform: rotate(360deg);
}

.card figcaption {
  transition: 0.5s;
}

.card figcaption:hover {
  color: tomato;
  transform: rotate3d(1,1,1,360deg);
}

footer {
  background-color: darkgray;
  width: 100%;
  text-align: center;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}